#box1, #box2, #box3{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #333;
  float: left;
  margin-left: 20px;
}
#item1,#item2,#item3,#item4 {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #333;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
}
